<!DOCTYPE html>
<html lang="es">
  <!-- idioma -->

  <head>
<section id="links">
      <meta charset="UTF-8" />
      <!-- conjunto de caracteres UTF-8, si se utiliza en el front, también en el backend  -->
      <!-- meta => metadato -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- titulo de la pagina -->
      <title>YerbasJM</title>
      <!-- conectar mi css a mi pagina -->
      <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
      <!-- logo de la pagina  -->
      <link rel="icon" href="{{url_for('static',filename='img/Logojm.jpg')}}" sizes="192x192" />
      <!-- referencias para google fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap" rel="stylesheet">
      <link
        href="https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet"
      />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet"
      />
      <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
        rel="stylesheet"
      />
      <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap"
        rel="stylesheet"
      />
      <!-- font awesome para iconos-->
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">  
    <!-- javascript -->
      <script src="{{url_for('static',filename='js/script.js')}}"> </script>
    </section>
  </head>

  <body>
  <header>
  <!-- Un solo contenedor para el menú -->
  <section class="menu-container">

      <!-- Menú -->
      <ul class="menu">
        <li>
          <a href="{{url_for('home')}}"><div class="logo">
              <img src="{{url_for('static',filename='img/Logojm.jpg')}}" alt="Logo de la página YerbasJM"></div></a>
          <!-- Submenú -->
          <ul class="submenu">
            <li><a class="boton" href="#pag-inicio"><i class="fa-solid fa-house"></i>|Inicio</a></li>
            <li><a class="boton" href="#productos"><i class="fa-solid fa-bars-staggered"></i>|Productos</a></li>
            <li><a class="boton" href="#maps"><i class="fa-solid fa-map-location-dot"></i>|Ubicación</a></li>
            <li><a class="boton" href="#redes"><i class="fa-solid fa-globe"></i>|Redes</a></li>
          </ul>
        </li>
      </ul>

            <!-- título -->
          <div class="title">
            <a class="atitle" href="">
              <h2 class="ptitle">{{ info.titulo }}</h2>
            </a>
          </div>
  </section>
  </header>

    <!-- presentacion-->
    <section id="pag-inicio" class="main-section">
      <div class="main-content">
        <h1 class="titulo-in">Bienvenidos a {{ info.titulo }}</h1>
        <p class="text-in">
          {{info.descripcion}}
        </p>
      <div id="pcts">
        <a href="#" class="btn-pcts" id="mostrar" onclick="mostrarProductos()">Mostrar {{info.productos}}</a></div>
        <a href="{{url_for('formulario')}}" class="btn-ct">contacto</a>
      </div>
    </section>
  <section class="separator"></section>
    <!-- Productos -->

<!-- <h1>Valores del diccionario</h1>
    <ul>
        {% for clave, valor in info.items() %}
            {% if valor == "YERBASJM" %}
                <li>{{ clave }}: {{ valor }} ✅</li>
            {% else %}
                <li>{{ clave }}: {{ valor }}</li>
            {% endif %}
        {% endfor %}
    </ul>

       <h1>Claves del diccionario:</h1>
    <ul>
        {# Iterar sobre las claves del diccionario usando Jinja2 #}
        {% for clave in info.keys() %}
            <li>{{ clave }}</li>
        {% endfor %}
    </ul> -->

    <section id="productos" class="products-section">
      <h2 class="section-title">Nuestros Productos</h2>
      <div class="product-grid" id="text-pcts">
        <!-- Producto 1 -->
        <div class="product-item">
          <img src="img/sol_y_lluvia.jpg" alt="Venta de Yerbas" />
          <h3>Una muestra de nuestros productos</h3>
          <p>Descubre nuestros combos, accesorios, yerbas y más</p>
          <a href="#" class="btn-vermas" id="mostrar-yerbas"  onclick="mostrarMasYerbas()">Ver Más</a>
        </div>
        <!-- Producto 2 -->
        <div class="product-item">
          <img src="img/bala 1lt.webp" alt="Venta de Termos" />
          <h3>Venta de Termos</h3>
          <p>
            Termos elegantes y duraderos para mantener tus bebidas a la
            temperatura ideal.
          </p>
          <a href="#" class="btn-vermas" id="mostrar-termos"  onclick="mostrarMasTermos()">Ver mss</a>
        </div>
        <!-- Producto 3 -->
        <div class="product-item">
          <img src="img/matesyyerberos.png" alt="Venta de Mates y Yerberos" />
          <h3>Venta de Mates y Yerberos</h3>
          <p>
            Mates artesanales y yerberos, esenciales para cualquier amante del
            mate.
          </p>
          <a href="#" class="btn-vermas" id="mostrar-mates"  onclick="mostrarMasMates()" >Ver mas</a>
        </div>


                  <!--productos -->
                  <div>
                    <div class="product-item" id="pcts-yerbas">
                      <img src="/img/combo-mate-termico.jpeg"  />
                      <img src="img/combo.jpg" />
                      <h3>Termos</h3>
                      <p>
                        Termos 1lt o 1/2 litro
                      </p>
                    </div>
                    </div>



                  <!--termos -->
        <div>
<div class="product-item" id="pcts-termos">
  <img src="/img/bala 1lt.webp"  />
  <img src="img/balita.jpg" />
  <img src="img/media manija pico de loro.webp"  />
  <h3>Termos</h3>
  <p>
    Termos 1lt o 1/2 litro
  </p>
</div>
</div>
        <!--Mates -->

        <div>
        <div class="product-item" id="pcts-mates">
          <img src="/img/imperiales-camioneros.jpeg" alt="Mates" />
          <img src="img/mates-termicos.jpeg" alt="Mates" />
          <h3>Mates</h3>
          <p>
            Caminoer Imperiales y térmicos
          </p>
        </div>
        </div>
      </div>
    </section>
<section class="separator"></section>
    <!-- Mapa y Descripción -->
    <section id="maps" class="maps-section">
      <!-- Fondo desenfocado -->
      <div class="background-blur"></div>
    
      <!-- Contenido principal -->
      <div class="maps-wrapper">
        <!-- Título de la sección -->
      <center class="t-maps"> <h3 class="titulo-maps">NUESTRA UBicación</h3></center> 
        
        <div class="maps-content">
          <!-- Mapa de Google -->
          <div class="mapa-container">
            <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6566.941604159374!2d-58.437872!3d-34.617541!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccbb7f786e557%3A0xc11c271802293de7!2syerbasjm!5e0!3m2!1ses!2sar!4v1735186032281!5m2!1ses!2sar" 
              width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer id="redes"class="footer">
      <div class="footer-container">
        <div class="footer-section">
          <div class="footer-division">
            <p> MEDIOS DE PAGO</p>
            <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-envio/correo-argentino.png" class="footer-items" alt="Medio Envio"> 
            <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-envio/personalizado.png" class="footer-items" alt="Medio Envio"> 
            <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-envio/retiro-local.png" class="footer-items" alt="Medio Envio"> 
        </div>

          <div class="footer-division">
          <p> MEDIOS DE PAGO</p>
            <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/efectivo.png" class="footer-items" alt="Medio Pago"> 
            <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/deposito.png" class="footer-items" alt="Medio Pago">
            <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/mastercard.png" class="footer-items" alt="Medio Pago"> 
            <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/visa.png" class="footer-items" alt="Medio Pago"> 
            <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/american-express.png" class="footer-items" alt="Medio Pago"> 
            <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/naranja.png" class="footer-items" alt="Medio Pago"> 
            <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/cabal.png" class="footer-items" alt="Medio Pago"> 
            <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/maestro.png" class="footer-items" alt="Medio Pago"> 
            <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/acordar.png" class="footer-items" alt="Medio Pago"> 
        </div>
        <div class="contacto-datos">
          <p class="datos">
           <span class="t-dtos"> Datos de Contacto</span><br>
            <a href="https://wa.me/1150631470?text=Hola,%20quiero%20hacer%20una%20compra"><i class="fa-solid fa-phone"></i> : +54 9 1150631470</a><br>
            <i class="fa-solid fa-envelope"></i> : jpjodar74@gmail.com
          </p>
        </div>
        <div class="footer-links">
          <a class="inicio-link-celu" href="#pag-inicio"><i class="fa-solid fa-house"></i></a>
          <a class="inicio-link" href="#pag-inicio">Inicio</a>
          <a class="contacto-link-celu" href="#pag-inicio"><i class="fa-solid fa-envelope"></i></a>
          <a class="contacto-link" href="/html/formulario.html">Contáctanos</a>
          <a class="redes-sociales-link" href="https://www.facebook.com/100063553419985/posts/521084803133607/"><i class="fab fa-facebook"></i>|Facebook</a>
          <a class="redes-sociales-link" href="https://www.instagram.com/yerbasjm/"
            ><i class="fab fa-instagram"></i
          >|Instagram</a>
          <a class="redes-sociales-link-celu" href="https://www.facebook.com/100063553419985/posts/521084803133607/"><i class="fab fa-facebook"></i></a>
          <a class="redes-sociales-link-celu" href="https://www.instagram.com/yerbasjm/"><i class="fab fa-instagram"></i></a>
        </div>
        </div>
      </div>    
      
      <div class="footer-info">
        <p>&copy; YerbasJM | Todos los derechos reservados</p>
      </div>
    </footer>
  </body>
</html>
