<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas</title>
</head>
<body>
    Inicio / Preguntas Frecuentes
¿Cuáles son las formas de pago?

Disponemos de los siguientes medios de pago:

-Transferencia bancaria o por Mercado Pago.

-Efectivo al momento de retirar el pedido.

   
¿Dónde puedo recibir mi pedido?

Realizamos envíos a todo el país. Podes elegir la opción de retiro en el local, o envío a domicilio.


¿Cuánto tarda en llegar el pedido?

El tiempo de entrega dependerá del tipo de envío seleccionado. En general, la demora es de entre 3 y 7 días hábiles luego de acreditado el pago.


¿Qué debo hacer si el producto no llega en buen estado?

Contactate con nosotros a yerbauruguayalaplata@hotmail.com para que podamos solucionarlo.
</body>
</html>